.page-header
  %h6
    A
    %a{:href => "http://rubyonrails.org/"}
      Ruby on Rails
    app that demonstrates how to use
    %a{:href => "https://dev.twitter.com/docs/auth/sign-twitter"}
      Sign in with Twitter
    using the
    %a{:href => "https://rubygems.org/gems/twitter"}
      twitter gem
    and
    %a{:href => "https://rubygems.org/gems/omniauth"}
      OmniAuth
.row
  .span14
    = form_tag "/auth/twitter", :method => 'get' do
      %button{:class => "btn large primary"}
        Sign in with Twitter
